{% extends 'base.html' %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh; background: linear-gradient(to right, #6a11cb, #2575fc); color: white;">
    <div class="text-center">
        <h1 class="mb-4 display-4">أهلا وسهلا بكم</h1>
        <p class="mb-4 lead">للدخول إلى التطبيق، سجل الدخول أولاً:</p>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg m-2 shadow">
            <i class="fas fa-sign-in-alt"></i> تسجيل الدخول
        </a>
        <a href="{% url 'signup' %}" class="btn btn-warning btn-lg m-2 shadow">
            <i class="fas fa-user-plus"></i> إنشاء حساب
        </a>
    </div>
</div>
{% endblock %}
