# Python / Django
*.pyc
__pycache__/
env/
*.sqlite3
/staticfiles/
/frontend_build/
*.log

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-error.log*
.env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db
